<?xml version="1.0" encoding="UTF-8"?>
<web-app
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
	version="2.5">
	<servlet>
		<servlet-name>login</servlet-name>
		<servlet-class>com.myplace.servlets.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>login</servlet-name>
		<url-pattern>/loginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>about</servlet-name>
		<servlet-class>com.myplace.servlets.AboutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>about</servlet-name>
		<url-pattern>/aboutServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>event</servlet-name>
		<servlet-class>com.myplace.servlets.EventServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>event</servlet-name>
		<url-pattern>/eventServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>eventd</servlet-name>
		<servlet-class>com.myplace.servlets.EventDetailsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>eventd</servlet-name>
		<url-pattern>/eventDetailsServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>logout</servlet-name>
		<servlet-class>com.myplace.servlets.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logout</servlet-name>
		<url-pattern>/logoutServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>locale</servlet-name>
		<servlet-class>com.myplace.servlets.LocaleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>locale</servlet-name>
		<url-pattern>/localeServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>uProfile</servlet-name>
		<servlet-class>com.myplace.servlets.UserProfileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>uProfile</servlet-name>
		<url-pattern>/userProfileServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>oMain</servlet-name>
		<servlet-class>com.myplace.servlets.OrgMainServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>oMain</servlet-name>
		<url-pattern>/orgMainServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>oProfile</servlet-name>
		<servlet-class>com.myplace.servlets.OrgProfileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>oProfile</servlet-name>
		<url-pattern>/orgProfileServlet</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>account</servlet-name>
		<servlet-class>com.myplace.servlets.AccountServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>account</servlet-name>
		<url-pattern>/accountServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>profileEdit</servlet-name>
		<servlet-class>com.myplace.servlets.ProfileEditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>profileEdit</servlet-name>
		<url-pattern>/ProfileEditServlet</url-pattern>
	</servlet-mapping><welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	
</web-app>